/*Our colors:*/
/* Light orange: FFAF87 */
/* Dark orange: FF8E72 */
/* Grey: 9b9FB5 */
/* Dark brown: 584B53 */
/* Light blue: D6E3F8 */


.root {
    -fx-background-color: D6E3F8;
    -fx-font-family: Lexend;
}

.label {
    -fx-padding: 10 10 10 5;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: FFAF87;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 5;
    -fx-border-color: #584B53;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: FF8E72;
}


