/*Our colors:*/
/* Light orange: FFAF87 */
/* Dark orange: FF8E72 */
/* Grey: 9b9FB5 */
/* Dark brown: 584B53 */
/* Light blue: D6E3F8 */


.root {
    -fx-background-color: D6E3F8;
    -fx-font-family: "Times New Roman";
}

/* Styling for progress bar */
.progressBarBox {
    -fx-background-color: #c1d3f6;
    -fx-padding: 15; /* Increase padding to make the box larger */
    -fx-border-width: 2; /* Optional: Set border width */
    -fx-border-radius: 5; /* Optional: Set border radius */
}

.progressBarBox:hover {
    -fx-border-color: #584B53;
    -fx-background-color: #cad5ea;
}

.progressBarBox .label {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #584B53;
}

.progress-bar {
    -fx-pref-width: 200px; /* Set preferred width */
    -fx-pref-height: 20px; /* Set preferred height */
    -fx-min-width: 200px; /* Set minimum width */
    -fx-min-height: 20px; /* Set minimum height */
    -fx-max-width: 200px; /* Set maximum width */
    -fx-max-height: 20px; /* Set maximum height */
}

/* Styling for buttons */

.label {
    -fx-padding: 10 10 10 5;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #FFAF87;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 5;
    -fx-border-color: #584B53;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #FF8E72;
}

.button:pressed {
    -fx-background-color: #FF8E72;
    -fx-padding: 12 8 8 12;
    -fx-border-color: #584B53;
    -fx-effect: innershadow(gaussian, rgba(88, 75, 83, 0.4), 3, 1.0, 5, 5); /* Focus shadow on bottom-right corner */
}

/*Styling for flashcard pages*/
.label-term {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.flashcard-container {
    -fx-background-color: linear-gradient(to bottom, #facdb3, #FFFFFF);
    -fx-border-color: #584B53;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 15px;
    -fx-spacing: 5px;
}

.flashcard-container .label-term {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #584B53;
}

.flashcard-container .label-translation {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #9b9FB5;
}

.button-container {
    -fx-spacing: 5px;
}




